.container.user
  %header
    %h2= @user.username
  %section.user_profile
    .well
      .row
        %br
        %img#avatar(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=75")
        %strong= @user.username
        %h4.pull-right= @user.city
        %br
        %p.muted User since #{@user.created_at.to_formatted_s(:long)}
        %hr/
      .row#follow
        %p add blerb column for bio blerb
        = link_to "Follow", relationships_path(leader_id: @user.id), method: :post, class: "btn"
      %hr/
      .row
        - @user.recent_products.each do |product|
          = link_to product do
            = image_tag product.pic1_url(:thumb).to_s
